*{
    box-sizing: border-box;
}
body{
  padding-top: 50px;
  background: rgb(243, 243, 243);
  margin: 0;
  padding: 0;
}
.logo-txt{
  float: left!important;
  font-size: 2em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #333;
  height: 100%;
  color: white;
  padding: 2px 2px 2px 15px !important;
}
#label-div{
  height: 57px;
  margin-top: 57px;
  width: 100%; 
  padding: 0px 24px;
}
#label-div ul{
  display: inline-block;
}
#label-div ul li{
  list-style: none;
  display: inline-block;
  font-size: 1.4em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-right: 20px;
}
#label-div ul li div{
  height: 25px;
  width: 25px;
  display: inline-block;
  top: 0.2rem;
  position: relative;
}
#label-start img{
  position: relative;
  top: -10px;
  display: block;
  height: 200%;
}
#label-end img{
  display: block;
  height: 100%;
}
#label-unvisited{
  border : 2px solid rgb(15, 245, 210);
  background-color: white;
}
#label-visited{
  border : 2px solid rgb(15, 245, 210);
  background-color: rgba(0, 190, 218, 0.75);
}
#label-wall{
  background-color: black;
}
.maingrid{
    margin: 10px auto;
    /* height: 600px;
    width: 1000px; */
    background:transparent;
    padding: auto;
}
.maingrid table{
  border-spacing: 0;
  border-collapse: collapse;
}
.start{
  background: white;
}
.start::before{
  content: "";
  display: inline-block;
  width: 300%;
  height: 600%;
  background-image: url("../images/start.png");
  background-repeat: no-repeat;
  position: relative;
  left: -85%;
  top: 65%;
  animation: rocket;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
}
.end{
  background-image: url('../images/end.png');
  background-size: 90%;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  background-color: white;
}
.maingrid table{
    margin: auto;
    height: 100%;
}
td{
    background: #07ed92c2;
    height: 25px;
    width: 25px;
}
.navItems{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  display: block;
  overflow: hidden;
  height: 44.4px;
  font-size: 1.01rem;
  font-weight: 700;
  padding-right: 5%;
}
ul.navItems li{
  height: 100%;
  display: block;
  float: right;
  padding: 12px 12px;
  color: white;
  cursor: pointer;
}
.navItems li:hover{
  background: #111;
  color: white;
  /* font-size: 1.1rem; */
}
.dropdown{
  margin: 0!important;
  padding: 0!important;
}
.dropdown button{
  border: none;
  height: 100%;
  width: 100%;
  padding: 12px;
  background-color: #333;
  color: white;
  font: inherit;
  cursor: pointer;
}
.dropdown button:hover{
  background-color: #111;
  color: white;
}
.dropdown .dropdown-list{
  display: none;
  position: absolute;
  top: 100%;
  z-index: 2;
  width: 10%;
}
.dropdown:hover .dropdown-list{
  display: block;
}
.wall{
  background: rgb(1, 9, 80);
}
.instant-wall{
  background: rgb(1, 9, 80);
}

.unvisited{
  background-color: white;
  border: 1px solid rgb(15, 245, 210);
  animation: unvisited-anim;
  animation-duration: 0.2s;
  animation-timing-function: cubic-bezier(0,0.5,0.7,1);
  animation-iteration-count: 1;
}
.instant-unvisited{
  background-color: white;
  border: 1px solid rgb(15, 245, 210);
}
.visited{
    background-color: rgba(0, 190, 218, 0.75);
    border: 1px solid rgb(15, 245, 210);
    animation: visitedanim;
    animation-duration: 2.5s;
    animation-timing-function: cubic-bezier(0,0.5,0.7,1);
    animation-iteration-count: 1;
}
.instant-visited{
  background-color: rgba(0, 190, 218, 0.75);
  border: 1px solid rgb(15, 245, 210);
}

.path{
  background-color: yellow;
  animation: pathanimation;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.26, -0.09, 0.32, -0.1);
}
.instant-path{
  background-color: yellow;
}

@keyframes pathanimation {
  0% {
    transform: scale(0.3);
    border-radius: 100%;
    background-color: rgb(237, 240, 217);
  }
  25% {
    transform: scale(0.8);
    background-color: rgb(246, 250, 34);
  }
  100% {
    transform: scale(1.0);
    border: none;
    background-color: yellow;
  }
}
@keyframes visitedanim {
    0% {
      transform: scale(.3);
      background-color: rgba(0, 0, 66, 0.75);
      border-radius: 100%;
    }
    25%{
      transform: scale(.8);
      background-color: rgba(55, 7, 159, 0.75);
      border-radius: 100%;
    }
    50% {
      background-color: rgba(17, 104, 217, 0.75);
    }
  
    75% {
      transform: scale(1.2);
      background-color: rgba(0, 217, 159, 0.75);
    }
  
    100% {
      transform: scale(1.0);
      background-color: rgba(0, 190, 218, 0.75);
    }
}

@keyframes unvisited-anim {
  0% {
    transform: scale(0.3);
    background-color: #333;
    border: none;
  }
  50% {
    transform: scale(1.2);
    background-color: white;
  }
  100%{
    transform: scale(1.0);
    background-color: white;
  }
}

@keyframes rocket {
  0%{
    transform: scale(0.5) rotate(0deg);
  }
  5%{
    transform: scale(0.7) rotate(5deg);
  }
  10%{
    transform: scale(0.7) rotate(-5deg);
  }
  15%{
    transform: scale(0.5) rotate(0deg);
  }
  20%{
    transform: scale(0.7) rotate(5deg);
  }
  25%{
    transform: scale(0.7) rotate(-5deg);
  }
  30%{
    transform: scale(0.5) rotate(0deg);
  }
  100%{
    transform: scale(0.5) rotate(0deg);
  }
}